
body{
    text-align: center;
}
h1{
    color: rgb(0, 115, 128);
    font-family: 'Open Sans', sans-serif;
    text-decoration: line-through;
}

h2{
    color: rgb(47, 200, 255);
    font-family: 'Hanalei', cursive;
    text-align: center;
}

.my-style h1{
    color: rgb(255, 165, 47);
    font-variant: small-caps;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: line-through;
    text-shadow: 3px 3px rgb(255, 165, 47);
}

.my-style h2{
    color: rgb(217, 47, 255);
    font-variant: inherit;
    letter-spacing: 4px;
    text-align: center;
    text-transform: lowercase;
    text-decoration: underline;
    text-shadow: 2px 4px rgb(217, 47, 255);
}

